body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

a {
	color: white;
	letter-spacing: 2px;
}

a:visited{
	color: red;
	letter-spacing: 2px;
}

.code {
	font-family: monospace;
}